::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dadadb;
}

.debug-nav {
  color: white;
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 2px;
  border: 1px solid rgb(5, 5, 5);
  left: 600px;
  background-color: rgba(253, 220, 220, 0.7);
  border-radius: 20px;
  display: none;
}

.debug-nav a {
  /* color: white; */
  text-decoration: none;
}

.debug-nav a:hover {
  color: #82cbf5;
}

* {
  margin: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
  --violet: #5d21d2;
  color: rgb(88, 87, 87);
  font-family: Arial, Helvetica, sans-serif;
  --border-color: rgb(201, 199, 199);
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  max-height: 100vh;
}

.side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 100vh;
  padding: 20px;
  border-right: 1px solid rgb(201, 199, 199);
}

#logo {
  height: 30px;
  width: 30px;
  margin-top: 20px;
}

.side-nav-2 {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 55px;
}
.menu-items {
  font-size: 22px;
  text-align: center;
  padding: 15px;
  border-radius: 50%;
}
.fas,
.far {
  color: grey;
}

.menu-items:hover {
  background-color: #f6f3fd;
  cursor: pointer;
}

.menu-items:hover .fas {
  color: var(--violet);
}
.menu-items:hover .far {
  color: var(--violet);
}

.add-btn {
  color: white;
  font-size: 25px;
  font-weight: lighter;
  padding: 11px 15px;
  border-radius: 50%;
  background-color: var(--violet);
  margin-top: 40px;
}
.fa-plus {
  color: white;
}

.add-btn:hover {
  cursor: pointer;
  background-color: #350c88;
}

.message-nav {
  width: 450px;
  padding: 35px 0px 0px 0px;
  overflow: auto;
}

.message-top {
  display: flex;
  align-items: center;
  font-size: 18px;
  width: 100%;
  padding: 0px 30px;
  font-weight: bold;
  gap: 30px;
}

.new-msg-no {
  font-size: 14px;
  padding: 3px 10px;
  background-color: rgb(233, 231, 231);
  border-radius: 5px;
}

.add-sign {
  margin-left: auto;
  font-size: 18px;
  padding: 3px 10px;
  color: var(--violet);
  background-color: #f6f3fd;
  border-radius: 5px;
}

.add-sign:hover {
  cursor: pointer;
  background-color: #e8dffa;
}

.all-messages {
  margin: 20px 30px;
  padding: 10px 20px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.all-messages:hover {
  border: 1px solid grey;
}
.fa-chevron-down:hover {
  cursor: pointer;
}

.message-list {
  display: flex;
  flex-direction: column;
}

.msg-box {
  padding: 20px 10px 20px 15px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--border-color);
}

.msg-box:hover {
  background-color: #f6f3fd;
}
.msg-box-head {
  display: flex;
  gap: 10px;
  align-items: center;
}
.title {
  font-weight: bold;
}

.circle {
  background-color: var(--violet);
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

.msg-box-2 {
  display: flex;
  padding: 0px 20px 0px 18px;
  margin: 10px 0px;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.sub-title {
  color: gray;
  line-height: 22px;
}
.time {
  color: gray;
}

.msg-box-3 {
  display: flex;
  font-size: 11px;
  font-weight: bold;
  padding: 0px 18px;
  gap: 10px;
}

.btn-1,
.btn-2 {
  color: grey;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  padding: 5px 10px;
}

.btn-1 {
  color: var(--violet);
  background-color: #e8dffa;
  border: none;
}

.btn-1:hover,
.btn-2:hover {
  cursor: pointer;
}

.box-2 .circle {
  opacity: 0;
}

.box-2 .btn-1 {
  color: rgb(6, 104, 6);
  background-color: rgb(200, 250, 200);
}

.box-3 .btn-1 {
  color: rgb(255, 136, 0);
  background-color: rgb(253, 219, 161);
}

.fa-reply {
  color: grey;
  font-size: 12px;
}

.box-4 .btn-1 {
  color: green;
  background-color: rgb(224, 238, 224);
}

.box-5 .btn-1 {
  color: rgb(255, 136, 0);
  background-color: rgb(253, 219, 161);
}

.box-1 {
  background-color: #f6f3fd;
}

.message-content {
  padding: 30px 60px;
  width: 74%;
  display: flex;
  flex-direction: column;
  gap: 55px;
  background-color: rgb(240, 240, 240);
}

.mc-top-bar {
  display: flex;
  justify-content: space-between;
}

.search-box {
  width: 70%;
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  padding: 10px 20px;
  background-color: white;
  border-radius: 10px;
  font-size: 20px;
}

#s-box {
  margin-left: 20px;
  width: 80%;
  font-size: 16px;
}

input:focus {
  outline: none;
}

::placeholder {
  font-size: 16px;
}

#pro-pic {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.profile {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  align-items: center;
  font-weight: bold;
  margin-left: 40px;
}

.profile-name {
  margin-left: 15px;
}
.fa-chevron-down {
  cursor: pointer;
}

.mc-2 {
  display: flex;
  gap: 50px;
}

.mc-left {
  width: 60%;
}

.mc-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mcl-top {
  display: flex;
  align-items: center;
}
.mcl-title {
  font-size: 30px;
}
.mark-box {
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
  border: 0.5px solid var(--border-color);
  margin-left: auto;
}

.mark-box:hover {
  cursor: pointer;
  border: 0.5px solid grey;
}

.more {
  margin-left: 20px;
  font-weight: bolder;
  writing-mode: vertical-lr;
  font-size: 20px;
  letter-spacing: 3px;
  padding: 5px 5px 5px 12px;
  border-radius: 50%;
}
.more:hover {
  cursor: pointer;
  background-color: rgb(223, 222, 222);
}

.mcl-profile {
  display: flex;
  align-items: center;
  gap: 15px;
}
#sender-pic {
  height: 40px;
  width: 40px;
  border: 0.5px solid var(--border-color);
  border-radius: 50%;
}

.sender-name {
  font-weight: bold;
}

.mcl-content {
  font-size: 17px;
  line-height: 26px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-right: 50px;
}

.mcl-pdf-box {
  margin-top: 10px;
  width: 50%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}

#pdf-preview {
  height: 40px;
  width: 30px;
  border: 0.5px solid var(--border-color);
}

.pdf-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.pdf-name {
  font-size: 15px;
  font-weight: bold;
}

.pdf-size {
  font-size: 13px;
  color: grey;
}

.pdf-btns {
  display: flex;
  margin-left: auto;
  gap: 10px;
}
.pdf-btn {
  padding: 8px;
  border: 0.5px solid var(--border-color);
  border-radius: 10px;
}

.pdf-btn:hover {
  cursor: pointer;
  border: 1px solid gray;
}
.mc-right {
  height: 650px;
  width: 36%;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mcr-title {
  color: gray;
}
#building-image {
  border-radius: 10px;
  height: 30%;
  width: 100%;
  margin-top: 10px;
}

.sender-details {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: gray;
  line-height: 23px;
}

.sender-name2 {
  font-weight: bold;
}

.mcr-details {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.details-list {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  border-bottom: 0.5px solid var(--border-color);
  color: grey;
  padding-bottom: 10px;
}

.dl-1 {
  color: gray;
}

.dl-2 {
  font-weight: bold;
}

.mcr-btn {
  padding: 10px;
  text-align: center;
  background-color: rgb(233, 231, 231);
  border-radius: 10px;
  width: 100%;
}

.mcr-btn:hover {
  cursor: pointer;
  background-color: rgb(179, 175, 175);
}

.mc-bottom {
  width: 60%;
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  padding: 10px 20px;
  background-color: white;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 30px;
}

.send {
  font-size: 14px;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  background-color: rgb(168, 129, 218);
  border-radius: 10px;
  margin-left: auto;
}

.send:hover {
  cursor: pointer;
  background-color: rgb(135, 101, 179);
}

.fa-paperclip:hover {
  cursor: pointer;
}
