#askButton {
  padding: 0 16px;
  height: 36px;
  border-radius: 18px;
  font-size: 14px;
  background-color: #0f0f0f;
  color: white;
  font-family: "Roboto", "Arial", sans-serif;
  margin: 0px 10px;
  font-weight: bold;
  text-align: center;
  border: none;
}
::-webkit-scrollbar {
  display: none;
}

#askButton:hover {
  cursor: pointer;
}

#popupDiv {
  width: 400px;
  height: 600px;
  background-color: #222222;
  box-shadow: 0px 5px 20px 3px rgb(48, 48, 48);
  position: absolute;
  right: 50%;
  top: 10%;
  z-index: 9999;
  cursor: move;
  border-radius: 15px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  overflow: hidden;
}

#iframe {
  overflow: hidden;
  width: 100%;
  border-radius: 15px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  flex: 1;
}
#top-bar {
  width: 100%;

  padding: 5px 25px;

  display: flex;
  background-color: #222222;
  justify-content: space-between;
  align-items: center;
}
#title {
  color: rgb(253, 253, 253);
  font-size: 16px;
  font-weight: bold;
  padding-left: 20px;
}

#closeBtn {
  text-align: center;

  border-radius: 10px;
  background: transparent;
  font-weight: 100;
  cursor: pointer;
  border: none;
  margin-right: 5px;
}

#close-svg {
  stroke: white;
}
