::-webkit-scrollbar {
  width: 3px;
  height: 2px;
  /*  display: none; */
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dadadb;
}

.debug-nav {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  width: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 2px;
  border: 1px solid rgb(235, 235, 235);
  left: 0px;
  background-color: rgba(255, 175, 175, 0.7);
  border-radius: 20px;
  display: none;
  padding: 10px;
}

.debug-nav a {
  text-decoration: none;
}

.debug-nav a:hover {
  color: #82cbf5;
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  color: rgb(53, 53, 53);
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
}

.main {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.top-bar {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid rgb(165, 165, 165);
}

.location-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: bold;
}

.location-icon-1 {
  width: 22px;
  height: 22px;
}

.down {
  stroke: rgb(192, 192, 192);
  width: 19px;
  height: 19px;
}

.notification-box {
  padding: 5px 5px 0px 5px;
  border-radius: 10px;
  border: 0.2px solid rgb(190, 190, 190);
}

.noti-icon {
  width: 19px;
  height: 19px;
}

.content-area {
  background-color: #f2f4f5;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 15px 0px;
  flex: 1;
  overflow: hidden;
}

.section-head {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0px 15px;
}

.section-title {
  font-weight: bold;
}

.section-see-all {
  font-size: 14px;
  color: rgb(8, 147, 228);
}

.pop-cards {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;

  padding: 5px 15px;
  /* z-index: 1; */
  /* height: 250px; */
  flex-shrink: 0;
  z-index: 1;
}

.card {
  width: 250px;
  height: 150px;
  border-radius: 10px;
  background-image: url(./assets/hadimba.jpg);
  background-size: 100% 110%;
  box-shadow: 0px 8px 20px 3px rgb(105, 105, 105);
  position: relative;
  flex-shrink: 0;
}
.c2 {
  background-image: url(./assets/rotang.jpeg);
}

.c-con {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgba(31, 31, 31, 0.4);
  backdrop-filter: blur(30px);
}

.place-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.place-name {
  color: rgb(214, 213, 213);
  font-size: 12px;
  font-weight: bold;
}

.location-box-2 {
  display: flex;
  gap: 5px;
  align-items: center;
}

.location-icon-2 {
  width: 10px;
  height: 10px;
  stroke: white;
}

.near {
  font-size: 10px;
  color: rgb(214, 213, 213);
}

.rating-box {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 5px;
}
.rating {
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.star1 {
  width: 18px;
  height: 18px;
  fill: orange;
  stroke: none;
}

.menu-con {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  padding: 0px 15px;
  z-index: 0;
}

.menu-card {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  box-shadow: 0px 5px 20px 3px rgb(226, 226, 226);
  background-size: contain;
}
.place-img {
  width: 80px;
  height: 75px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.p1 {
  background-image: url(./assets/bunbuni.jpeg);
}
.menu-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.location-name {
  font-size: 13px;
  font-weight: bold;
}

.location-box-3 {
  display: flex;
  align-items: center;
  gap: 5px;
}
.rating-box-2 {
  display: flex;
  align-items: center;
  gap: 5px;
}
.location-icon-3 {
  width: 13px;
  height: 13px;
}

.location-near {
  font-size: 10px;
  color: rgb(83, 83, 83);
  align-self: flex-end;
}

.star2 {
  width: 13px;
  height: 13px;
  stroke: none;
  fill: orange;
}
.rating2 {
  font-size: 12px;
  font-weight: bold;
}
.reviews {
  font-size: 10px;
  color: rgb(83, 83, 83);
  font-weight: normal;
}

.pricing-box {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.amount {
  font-size: 14px;
  font-weight: bold;
  color: rgb(8, 147, 228);
}
.amount-sub {
  font-size: 10px;
  color: rgb(83, 83, 83);
}

.bottom-menu {
  display: flex;
  background-color: rgb(37, 37, 37);
  border-radius: 15px;
  width: 90%;
  align-self: center;
  position: absolute;
  bottom: 40px;
  padding: 25px 30px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 8px 20px 5px rgb(129, 129, 129);
}

.bm-icon {
  stroke: rgb(141, 140, 140);
  width: 20px;
  height: 20px;
}
.bm-icon:hover {
  stroke: rgb(139, 139, 139);
  fill: rgb(223, 223, 223);
}

.bottom-line {
  height: 6px;
  width: 150px;
  border-radius: 20px;
  background-color: rgb(37, 37, 37);
  align-self: center;
  position: absolute;
  bottom: 10px;
}
