* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  gap: 0;
  background: radial-gradient(rgb(206, 174, 174), white);

  justify-content: center;
}
.card {
  background-color: white;
  border-radius: 50px;
  box-shadow: 1px 3px 5px 3px #d6d5d5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 20px 0px 0 0px;
  margin: 50px;
}

.title {
  padding-top: 20px;
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}

.description {
  padding: 20px 20px 0 20px;
  color: rgb(77, 74, 74);
  text-align: center;
}

.product {
  height: 100%;
  width: 100%;
}

.price {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  padding-top: 3rem;
}

.star {
  padding-top: 0;
}
.buy {
  padding: 10px;
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  font-size: 2rem;
  border: none;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  color: white;
  background-color: #15263f;
  cursor: pointer;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

li {
  padding: 5px 2px 5px 2px;
  font-size: 30px;
}
.fa {
  font-size: 26px;
}

.checked {
  color: #ff9f43;
}
.buy:hover {
  background-color: #193764;
}
.buy:active {
  background-color: #193764;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.reset {
  align-self: flex-end;
  margin-right: 50px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #15263f;
  cursor: pointer;
}

.reset:hover {
  background-color: #193764;
}
.reset:active {
  background-color: #193764;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
