::-webkit-scrollbar {
  width: 3px;
  display: none;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dadadb;
}

.debug-nav {
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 2px;
  border: 1px solid rgb(235, 235, 235);
  left: 600px;
  background-color: rgba(255, 175, 175, 0.7);
  border-radius: 20px;
  display: none;
}

.debug-nav a {
  text-decoration: none;
}

.debug-nav a:hover {
  color: #82cbf5;
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding: 40px 20px;
  background-color: rgb(27, 27, 27);
  color: white;
}

.title {
  font-weight: bold;
  font-size: 25px;
}

.current-task {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  background-color: #6a4ca5;
  border-radius: 40px;
  width: 100%;
  font-size: 18px;
}

.task-name {
  font-weight: lighter;
}

.edit {
  width: 16px;
  height: 16px;
  margin-bottom: 2px;
}

.timer-graphics {
  border: 1px solid #000;
  margin-top: 30px;
  /*  position: relative; */
}

.timer-circle {
  width: 310px;
  height: 310px;
  border-radius: 50%;
  background: conic-gradient(#4742c0, 45deg, #2f2d38 0deg);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.timer-circle::before {
  content: "";
  position: absolute;
  height: 280px;
  width: 280px;
  border-radius: 50%;
  background-color: rgb(27, 27, 27);
  z-index: 2;
}
.timer-circle::before {
  content: "";
  position: absolute;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-color: rgb(231, 123, 123);
  z-index: -10;
}

.timer-count {
  font-size: 50px;
  position: absolute;
  top: 40%;
  left: 31%;
  font-weight: lighter;
}

.current-level {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.new-interval {
  display: flex;
  align-items: center;
}
.i-line {
  width: 30px;
  height: 2px;
  background-color: #444ba0;
}

.i-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #444ba0;
}
.active-circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 3px solid #444ba0;
  background-color: transparent;
}
.inactive-level > * {
  background-color: #343444;
}

.start-stop {
  padding: 15px 13px;
  border-radius: 50%;
  background-color: #664eff;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.sp-btn {
  width: 35px;
  height: 35px;
  margin-left: 5px;
}

.bottom-panel {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  width: 100%;
}
