::-webkit-scrollbar {
  width: 3px;
  /*  display: none; */
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dadadb;
}

.debug-nav {
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 2px;
  border: 1px solid rgb(235, 235, 235);
  left: 700px;
  background-color: rgba(255, 175, 175, 0.7);
  border-radius: 20px;
}

.debug-nav a {
  text-decoration: none;
}

.debug-nav a:hover {
  color: #82cbf5;
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #664eff;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space around;
  align-items: center;
  padding: 20px 20px;
  background-color: rgb(27, 27, 27);
  width: 100%;
  max-width: 600px;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: space around;
  align-items: center;
  padding: 20px 20px;
  background-color: rgb(27, 27, 27);
  color: white;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.current-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #6a4ca5;
  border-radius: 40px;
  width: 100%;
  font-size: 14px;
  margin-top: 20px;
  opacity: 1;
}

.task-name {
  font-weight: lighter;
  overflow-x: auto;
}

.edit {
  width: 16px;
  height: 16px;
  margin-bottom: 2px;
}

.timer-graphics {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 30px;
  background: radial-gradient(#2c2c57, 70%, #1c1c20);
  position: relative;
}

.timer-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /*  background: conic-gradient(#4742c0, 32deg, #2f2d38 0deg); */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  background-color: #1c1c20;
  box-shadow: 0px 0px 10px 1px #4742c0;
}
.timer-circle-fake {
  width: 95%;
  height: 95%;
  border-radius: 50%;
  background-color: #1c1c20;
  position: relative;
  /* opacity: 0; */
  transform: rotate(0deg);
}

.timer-circle::before {
  content: "";
  position: absolute;
  height: 190px;
  width: 190px;
  border-radius: 50%;
  background-color: rgb(27, 27, 27);
}
.timer-progress-dot {
  position: absolute;
  top: -13px;
  left: 85px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: rgb(214, 214, 214);
  border: 4px solid #4742c0;
  display: flex;
  align-items: center;
}

.timer-count {
  font-size: 50px;
  position: absolute;
  top: 38%;
  left: 27%;
  font-weight: lighter;
  color: rgb(230, 229, 229);
}

.current-level {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin-top: 20px;
}

.new-interval {
  display: flex;
  align-items: center;
}
.i-line {
  width: 30px;
  height: 2px;
  background-color: #444ba0;
}

.i-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #444ba0;
}
.active-circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 3px solid #444ba0;
  background-color: transparent;
}
.inactive-level > * {
  background-color: #343444;
}

.start-stop {
  padding: 15px 13px;
  border-radius: 50%;
  background-color: #664eff;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.start-stop:hover {
  cursor: pointer;
}

.pause {
  display: none;
}

.sp-btn {
  width: 35px;
  height: 35px;
  margin-left: 4px;
  stroke-width: "1";
}

.bottom-panel {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  width: 100%;
}

.bp-btn {
  width: 22px;
  height: 22px;
  stroke: rgb(131, 131, 131);
}

.pause {
  margin: 0px 2px;
}

.bp-btn:hover {
  cursor: pointer;
  stroke: #6965e7;
  /*   box-shadow: 0px 0px 10px 0px #544fc9;
  border: none; */
}

/* settings page */

.settings-page {
  display: flex;
  flex-direction: column;
  justify-content: space around;
  align-items: center;
  padding: 20px 20px;
  background-color: rgb(27, 27, 27);
  color: white;
  width: 100%;
  height: 95%;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.task-title {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: rgb(172, 172, 172);
  padding: 10px;
  text-align: center;
}

.back {
  position: absolute;
  left: 0;
}
.settings-container {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.settings-box {
  display: flex;
  padding: 10px 25px;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  background-color: #2c2c3e;
  color: rgb(172, 172, 172);
  font-size: 17px;
}
.b0 {
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  outline: none;
  padding: 10px;
  background-color: transparent;
  color: white;
  display: flex;
  gap: 20px;
  font-size: 17px;
  border: none;
}

select option {
  background-color: #2c2c3e;
  display: flex;
  /*   border: none; */
  padding: 80px;
}

.save-cancel-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  width: 100%;
}

.sv-btn {
  padding: 20px 40px;
  background-color: #2c2c3e;
  border-radius: 40px;
  display: flex;
  justify-content: center;
}

.sv-btn:hover {
  cursor: pointer;
  background-color: #664eff;
}
