::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dadadb;
}

.debug-nav {
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 2px;
  border: 1px solid rgb(129, 129, 129);
  left: 600px;
  background-color: rgba(255, 175, 175, 0.7);
  border-radius: 20px;
  display: none;
}

.debug-nav a {
  text-decoration: none;
}

.debug-nav a:hover {
  color: #82cbf5;
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(48, 47, 47);
  font-family: "Open Sans", sans-serif;
}
