::-webkit-scrollbar {
  width: 3px;
  display: none;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dadadb;
}

.debug-nav {
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 2px;
  border: 1px solid rgb(235, 235, 235);
  left: 600px;
  background-color: rgba(255, 175, 175, 0.7);
  border-radius: 20px;
  display: none;
}

.debug-nav a {
  text-decoration: none;
}

.debug-nav a:hover {
  color: #82cbf5;
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(150, 148, 148);
  --border: #dce5f1;
  --blue: #739cff;
  --bg: #e7f0fc;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: rgb(206 220 242);
}

.main {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 80px 0px;
}

.mc-2 {
  width: 360px;
  height: 740px;
  border-radius: 50px;
  padding: 40px;
  background-color: var(--bg);
  border: 2px solid rgb(236, 245, 253);
  box-shadow: 5px 5px 25px 6px rgb(191 206 228);
}

.music-img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 7px solid var(--border);
  box-shadow: -20px -15px 25px 6px #faffff, 10px 10px 25px 6px #acbad3,
    inset 1px 2px 10px 4px #e6e6e6;
}

.mc-1 {
  width: 360px;
  height: 740px;
  border-radius: 50px;
  background-color: var(--bg);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border: 2px solid rgb(236, 245, 253);
  box-shadow: 5px 5px 25px 6px rgb(191 206 228);
}

.top-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.5px;
  user-select: none;
}

.nav-btn {
  padding: 10px;
}

.btn {
  display: flex;
  align-items: center;
  border: 1px solid var(--border);
  border-radius: 50%;
  box-shadow: 5px 5px 10px #bac8de, -5px -5px 5px rgb(244, 251, 253);
  transition: box-shadow 0.3s ease-out;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px #bac8de, -5px -5px 5px rgb(244, 251, 253),
    inset 3px 2px 10px rgba(0, 0, 0, 0.219);
}

.music-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  font-size: 28px;
  font-weight: bold;
}
.main-title {
  color: rgb(94, 94, 94);
}

.sub-title {
  font-weight: normal;
  font-size: 14px;
}

.slider-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.sc-1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 9px;
}

.sc-2 {
  display: flex;
  align-items: center;
  position: relative;
}

.progress-bar {
  width: 400px;
  height: 7px;
  border-radius: 20px;
  border: 0.5px solid var(--border);
  box-shadow: inset 0px 2px 1px 1px #bed0e7;
  position: relative;
}
.progress {
  width: 45%;
  height: 6px;
  border-radius: inherit;
  background-color: var(--blue);
}

.progress-btn {
  padding: 8px;
  border-radius: 50%;
  border: 1px solid var(--border);
  position: absolute;
  left: 120px;
  background-color: #ebf7ff;
  box-shadow: 1px 2px 10px 2px #c2cad4;
}
.progress-btn:hover {
  cursor: pointer;
}

.progress-dot {
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: var(--blue);
}

.btns-container {
  width: 100%;
  display: flex;
  padding: 0px 15px;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.c-btn {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pause {
  display: none;
  fill: white;
  stroke: white;
}
.play-pause:active .pause {
  display: block;
}

.btn2:active .pause {
  display: block;
}

.play-pause:active {
  border: 1px solid #7590f5;
  background-image: linear-gradient(160deg, #5886f1, rgb(129 157 255));
  box-shadow: none;
}

.btn2:active {
  border: 0px solid #7590f5;
  background-image: linear-gradient(160deg, #5886f1, rgb(129 157 255));
  box-shadow: none;
}

.play-pause:active .play {
  display: none;
}
.btn2:active .play {
  display: none;
}

.flipped {
  transform: scaleX(-1);
}

.mc-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 40px 20px 0px 20px;
  position: relative;
}

.h2 {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dot {
  align-self: center;
  font-size: 16px;
  margin-bottom: 8px;
}

.currently-playing-bar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
}

.img2 {
  width: 130px;
  height: 130px;
  border: 4px solid var(--border);
}

.playlist-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 500px;
  overflow: auto;
  z-index: 1;
}

.playlist {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 20px;
}
.playlist:hover {
  cursor: pointer;
  background-color: rgb(113, 155, 253, 0.1);
}

.music-name {
  color: rgb(114, 113, 113);
  display: flex;
  flex-direction: column;
  gap: 1px;
  font-size: 14px;
}
.sb2 {
  font-size: 12px;
}
.btn2 {
  padding: 8px;
  box-shadow: 2px 3px 10px #bac8de, -3px -3px 5px rgb(244, 251, 253);
}

.btn2:hover {
  box-shadow: 2px 3px 10px #bac8de, -3px -3px 5px rgb(244, 251, 253),
    inset 3px 2px 10px rgba(0, 0, 0, 0.219);
}

.overlay {
  display: block;
  content: "";

  height: 440px;
  width: 100%;
  background-image: linear-gradient(
    #e8f0fc,
    10%,
    rgba(255, 255, 255, 0),
    90%,
    #f3f6fc
  );
  position: absolute;
  bottom: -1px;
  /*  border: 1px solid #000; */
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  z-index: 2;
  pointer-events: none;
}
